<ion-header [translucent]="true">
 <ion-buttons slot="start">
   <ion-back-button></ion-back-button>
</ion-buttons>
  <ion-toolbar>
    <ion-title>
      <img src="\assets\icon\Theday5.jpg"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="support">
  <ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label class="title">Getting Started</ion-label>
    </ion-item>
    <div class="q" slot="content">How do I create an account?</div>
      <div class="a" slot="content">You can create an account from the register option on the login tab</div>
      <div class="q" slot="content">How do I login or logout?</div>
      <div class="a" slot="content">You can login to account managment from the login tab and logout from the button on the bottom of the page</div>
       <div class="q" slot="content">What platform is this application available on?</div>
      <div class="a" slot="content">The Day 5 app is available on most mobile platforms providing all software is updated to their latest versions</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label class="title">Booking and Ordering</ion-label>
    </ion-item>
      <div class="q" slot="content">How do I place an order?</div>
      <div class="a" slot="content">You can place an order anytime on our order tab</div>
       <div class="q" slot="content">How much time should I alow for an order</div>
      <div class="a" slot="content">We usually request at least 30 minutes between your order and collection due to high volumes of customers at times</div>
       <div class="q" slot="content">How long can I book an order or table in advance</div>
      <div class="a" slot="content">You can book whenever you want in advance as long as tables are given a days notice</div>
       <div class="q" slot="content">How do I change or cancel an order?</div>
      <div class="a" slot="content">Only one order can be processed at a time on our system before collection so automatically ordering cancels the previous one</div>
       <div class="q" slot="content">Is there a limit of items or people on bookings</div>
      <div class="a" slot="content">There is no limit on items so go crazy, however the largest room we have houses a maximum of 10 bodies</div>
       <div class="q" slot="content">When do I pay for these services?</div>
      <div class="a" slot="content">When you provide your email and name at the register we will calculate the total bill then</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label class="title">Food Queries</ion-label>
    </ion-item>
  <div class="q" slot="content">Can I customise my order and how?</div>
      <div class="a" slot="content">Of course you can! In the description box is where you tell everything you want and any specifications on that order</div>
       <div class="q" slot="content">How do I see what alergies and calories are in each product?</div>
      <div class="a" slot="content">For allergies we have a list bellow each menu option for what is present and calories are disclosed on our in house menu board</div>
  </ion-accordion>

  <ion-accordion value="fourth">
    <ion-item slot="header" color="light">
      <ion-label class="title">Issues And Support</ion-label>
    </ion-item>
   <div class="q" slot="content">I'm having technical errors with the application, what can I do?</div>
      <div class="a" slot="content">If your having issues it might be because it either needs an update from your app store or we are performing live maintanence, if it continues please contact us</div>
       <div class="q" slot="content">How can you get in touch with us</div>
      <div class="a" slot="content">You can either leave your email and message on our contact page in account managment, email us at theday5@email.com or call us on 01 421 6581</div>
       <div class="q" slot="content">My order is wrong what can I do?</div>
      <div class="a" slot="content">In the event of a wrong order on either end, please either enter a new order or call us to change the error</div>
       <div class="q" slot="content">Is my data secure?</div>
      <div class="a" slot="content">Yes, any data such as orders and personal details are safe and secure on our databases</div>
  </ion-accordion>

   <ion-accordion value="fifth">
    <ion-item slot="header" color="light">
      <ion-label class="title">Other</ion-label>
          </ion-item>
       <div class="q" slot="content">Do you offer any special promotions and how do I check?</div>
      <div class="a" slot="content">Yes we do, to keep up with our promotions you can check our blog in the about us tab or follow our social media at Instagram, Facebook, TikTok or X at theday5</div>
       <div class="q" slot="content">Are you open for collabs with content creators or brands?</div>
      <div class="a" slot="content">We love all new and exciting oportunities for content, just drop us a quick email or message on social media and we'll get back as soon as we can</div>
       <div class="q" slot="content">Can we change the name of the cafe?</div>
      <div class="a" slot="content">No, but your open for giving suggestions of new names :P</div>

  
  </ion-accordion>
</ion-accordion-group>
  </div>
</ion-content>

