<ion-header [translucent]="true">
 <ion-buttons slot="start">
   <ion-back-button></ion-back-button>
</ion-buttons>
  <ion-toolbar>
    <ion-title>
      <img src="\assets\icon\Theday5.jpg"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2 class="title">Contact us</h2>
 <div class="t3">
    <div class="t2">
  <p class="label">Full Name</p>
  <input [(ngModel)]="name" placeholder="">

<p class="label">Email Address</p>
<input [(ngModel)]="email" placeholder="example@email.com">

<p class="label">Query</p>
  <input [(ngModel)]="query" placeholder="">

</div>
<button class="btn" (click)="submitContact()">Send</button>
</div>
</ion-content>

