<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       <img src="\assets\icon\Theday5.jpg"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img  src="https://static.vecteezy.com/system/resources/thumbnails/071/434/086/small/realistic-blurred-cafe-background-with-cozy-atmosphere-tables-chairs-and-warm-lighting-photo.jpg" />
  <ion-card-header>
    <ion-card-title class="fontT">The Finest Coffee In Dublin</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Welcome to the offical app for The Day 5, your local coffee shop that aims to deliver the richest tastes and experience you won't forget any time soon.
  </ion-card-content>
</ion-card>

<ion-card>
  <img  src="https://www.nescafe.com/au/sites/default/files/2024-04/Untitled-3%20copy_5.jpg" />
  <ion-card-header>
    <ion-card-title class="fontT">From Bean To Bean</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    At The Day 5 we have a large variety of roasts and flavours to your coffee to brighten your day as well as suculent and tasty sandiches and pastries to munch on too
  </ion-card-content>
  <ion-button class="font" fill="view" routerLink="/tabs/tab2">Menu</ion-button>
</ion-card>
<ion-card>
  <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/2b/8f/71/george-s-street-arcade.jpg" />
  <ion-card-header>
    <ion-card-title class="fontT">We Werent Built In The Day</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Like Rome we weren't built in a day, hence why were not The day 1. Come with us to explore the history, experience and up to date blogs on what marks us on the calender
  </ion-card-content>
   <ion-button class="font" fill="view" routerLink="/tabs/tab4">About Us</ion-button>
</ion-card>
<ion-card>
  <img src="https://img.freepik.com/premium-photo/nice-sandwich-cup-coffee-table-cafe-background-breakfast-cafe-business-s_894218-20322.jpg" />
  <ion-card-header>
    <ion-card-title class="fontT">In A Hurry? Order On The In or Go</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Gotta be somewhere in five minutes with no energy? Order beforehand on the app for maximum efficiency
  </ion-card-content>
  <ion-button class="font" fill="view" routerLink="/tabs/tab3">Order</ion-button>
</ion-card>
<ion-card>
  <img src="https://info.citypantry.com/hubfs/lunch%20break%20team%20building%20.jpeg" />
  <ion-card-header>
    <ion-card-title class="fontT" >Need A Cozy Space For The Crew?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Struggling to organise where that office meeting needs to take place at? or where to host that small gathering? Leave it to us with our assortment of private rooms with seating and productivity
  </ion-card-content>
  <ion-button class="font" fill="view" routerLink="/tabs/tab5">Orgenise Event</ion-button>
</ion-card>


</ion-content>
