<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="\assets\icon\Theday5.jpg"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="con">
  <h2 class="title">Confirmed!</h2>
  <div class="thanks">
  <h4>Thank you for service with us</h4>
  <h4>We will email you as soon as we can with further details</h4>
  </div>
  <br>
   <ion-button fill="view" class="btn" routerLink="">Back To Home</ion-button>
  </div>
</ion-content>

