:host{
    .title{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #8f5533;
        text-align: center;
    }
    .t3{
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

      text-align: center;
    }

    .btn{
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height:40px;
        width:150px;
         border-radius: 10px;
    }
    .t2{
 padding-bottom: 10px;
    }
}