<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>     <img src="\assets\icon\Theday5.jpg"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">account</ion-title>
    </ion-toolbar>
  </ion-header>
   <div class="account">
    <h2 class="title">Account Managment</h2>
    
<ion-button class="btn" fill="view" routerLink="/viewbook">View Your Bookings</ion-button>
<br>
<ion-button class="btn" fill="view" routerLink="/viewevents">View Your Events</ion-button>
<br>
<ion-button class="btn" fill="view" routerLink="/event">Organise An Event</ion-button>
<br>
<ion-button class="btn" fill="view" routerLink="/contact">Contact Us</ion-button>
<br>
<ion-button class="btn" fill="view" routerLink="/support">Support</ion-button>
<br>
<ion-button class="btn" fill="view" routerLink="/tabs/tab5">Logout</ion-button>
</div>
</ion-content>
